@use "../_variables.scss";

.page-container {
  display: flex;
  flex-direction: column;

  .title-container {
    font-size: variables.$font-s;
    padding: 0.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      margin: 0;
      white-space: nowrap;
    }

    .title-actions {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}
