@use "../_variables.scss";

.reusable-button {
  white-space: nowrap;
  padding: 0.5rem 1.25rem;
  border: none;
  border-radius: 5px;
  font-size: variables.$font-s;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease,
    border-color 0.2s ease;

  &.primary {
    border: 1px solid variables.$primary-color;
    background-color: variables.$primary-color;
    color: #fff;

    &:hover {
      background-color: variables.$primary-color;
    }

    &:active {
      background-color: variables.$primary-color, 12%;
    }
  }

  &.outlined {
    background-color: transparent;
    border: 1px solid variables.$primary-color;
    color: variables.$primary-color;

    &:hover {
      background-color: rgba(variables.$primary-color, 0.1);
    }

    &:active {
      background-color: rgba(variables.$primary-color, 0.2);
    }
  }

  &.danger {
    background-color: variables.$error-color;
    color: #fff;
    border: 1px solid variables.$error-color;

    &:hover {
      background-color: variables.$error-color;
    }

    &:active {
      background-color: variables.$primary-color, 12%;
    }
  }
  // Pending
  &.pending {
    background-color: variables.$pending-color;
    color: #000;

    &.active {
      border: solid 2px variables.$pending-color;
      background-color: rgba(variables.$pending-color, 0.6);
      transform: scale(1.03);
    }
  }

  // Resubmission
  &.resubmission {
    background-color: variables.$resubmission-color;
    color: #fff;

    &.active {
      border: solid 2px variables.$resubmission-color;
      background-color: rgba(variables.$resubmission-color, 0.6);
      transform: scale(1.03);
    }
  }

  // Approved
  &.approved {
    background-color: variables.$approved-color;
    color: #fff;

    &.active {
      border: solid 2px variables.$approved-color;
      background-color: rgba(variables.$approved-color, 0.6);
      transform: scale(1.03);
    }
  }

  // Rejected
  &.rejected {
    background-color: variables.$rejected-color;
    color: #fff;

    &.active {
      border: solid 2px variables.$rejected-color;
      background-color: rgba(variables.$rejected-color, 0.6);
      transform: scale(1.03);
    }
  }

  // existing primary, outlined, danger remain the same...
}

// .add-field-button {
//   padding: 0.75rem 1rem;
//   border: 2px dashed variables.$primary-color;
//   border-radius: 0.5rem;
//   background-color: transparent;
//   color: variables.$primary-color;
//   cursor: pointer;
//   font-weight: 500;
//   transition: background-color 0.2s ease, color 0.2s ease;

//   &:hover {
//     background-color: rgba(variables.$primary-color, 0.08);
//   }

//   &:active {
//     background-color: rgba(variables.$primary-color, 0.15);
//   }
// }
