/* BACKDROP */
.reset-password-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;

  /* CONTAINER */
  .modal-container {
    width: 350px;
    background: #ffffff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    animation: fadeIn 0.2s ease-out;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .modal-title-input{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }


  .modal-buttons{
    display: flex;
    gap: 1rem;
  }
  /* INPUT */
  .modal-input {
    width: 100%;
    padding: 10px 14px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
    margin: 10px 0 18px;
    outline: none;
    transition: border 0.2s;
  }

  .modal-input:focus {
    border-color: #6366f1; /* Indigo */
  }

  /* MESSAGE */
  .modal-message {
    font-size: 14px;
    color: #10b981; /* green */
    margin-bottom: 10px;
  }
  /* SMALL ANIMATION */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-8px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
