// Font
$font-xxl: 28px;
$font-xl: 24px;
$font-l: 20px;
$font-m: 16px;
$font-s: 14px;
$font-xs: 12px;
$font-xxs: 10px;
$font-xxxs: 8px;

// Color
$primary-color : #4d6cb7; // theme
$sub-primary-color : #ffffff; //theme 
$text-primary : #000000; // theme
$text-secondary : #4d6cb7; //theme 
$secondary-color : #e2effa;
$tertiary-color: #ffffff;
$description-color : #949494;
$link-color: blue;
$input-bg : #ffffff;
$disabled-bg : #e9e9e9;
$editing-bg : #d5d5d5;
$success-color: #71b873;
$error-color : #f44336;
$refresh-color : #4c89af;
$warning-color : #ffc067;
$white-text-color: #ffffff;
$black-text-color: #000000;
$grey-text-color: #656565;
$grey-color: #cbcbcb;
$home-bg: #ccc;
$input-stroke: #ccc;
$pending-color: #f4c542;       // yellow
$approved-color: #4caf50;      // green
$rejected-color: #f44336;      // red
$resubmission-color: #4c89af;  

