@use "_variables.scss";
.layout {
  // height: 100dvh;
  display: flex;
  flex-direction: row;
}

.collapse-sidebar-main-container {
  width: 97% !important;
}
.main-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  // height: 100dvh;
  background-color: #f6f6f6;
  transition: all 0.3s ease;
}

.maintenance-page{
  display: flex;
  justify-content: center;
  background-color: rgb(238, 238, 238);
  flex-direction: column;
  align-items: center;
  height: 100%;
}

@media (max-width: 768px) {
  .main-container {
    width: 92% !important;
  }
}
